<div class="main">
  <h1>två bröder</h1>
</div>

<div class="container">
  <p>ett nanobryggeri från Bensbyn, Luleå</p>
</div>

<div class="boxes">

  <div class="boxL">
    <p class="main-p">två bröder - det är precis vad vi är. vi delar intresset av att brygga öl, något som kom av en slump.</p>
  </div>

  <div class="boxR">
    <p class="main-p">vi brygger öl för att det är roligt, och gott. IPA och
      APA är det som främst faller oss i smaken, varpå det ofta är det vi brygger.
      en och annan lager slinker emellan och bryggs ibland.
    </p>
  </div>

</div>
